@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.poll-icon {
  margin: 30px 46px;
}

.bg-sky-blue {
  background-color: #E9F1FF;
}

button.create {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 14px 32px;
}
.address {
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  color: black;
}

.tw-connect-wallet {
  width: 0 !important;
  height: 0 !important;
  min-width: 0 !important;
  opacity: 0 !important;
  padding: 0 !important;
}

.tw-connected-wallet {
  width: 0 !important;
  height: 0 !important;
  min-width: 0 !important;
  opacity: 0 !important;
  padding: 0 !important;
}

.tw-connected-wallet image {
  width: 0 !important;
  height: 0 !important;
  min-width: 0 !important;
  opacity: 0 !important;
  padding: 0 !important;
}